# pnpm audit job template
parameters:
  vmImage: 'ubuntu-latest'
  nodeVersion: '18.x'
  pnpmVersion: '9.x'
  severityThreshold: 'high'
  failOnWarn: false
  offlineMode: false
  cacheTtl: 3600
  reportFormat: 'sarif,html,json,junit,markdown'

jobs:
  - job: pnpm_audit
    displayName: 'pnpm security audit'
    pool:
      vmImage: ${{ parameters.vmImage }}
    steps:
      - template: pnpm-audit-steps.yml
        parameters:
          nodeVersion: ${{ parameters.nodeVersion }}
          pnpmVersion: ${{ parameters.pnpmVersion }}
          severityThreshold: ${{ parameters.severityThreshold }}
          failOnWarn: ${{ parameters.failOnWarn }}
          offlineMode: ${{ parameters.offlineMode }}
          cacheTtl: ${{ parameters.cacheTtl }}
          reportFormat: ${{ parameters.reportFormat }}
